---
name: Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Firmware
    permissions:
      id-token: write
      contents: read
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}

      - uses: mdgreenwald/mozilla-sops-action@d9714e521cbaecdae64a89d2fdd576dd2aa97056 # v1.6.0

      - uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          secrets: |
            github-homelab-esphome-firmware/data/scaleway organization_id | SCW_ORGANIZATION_ID ;
            github-homelab-esphome-firmware/data/scaleway project_id | SCW_PROJECT_ID ;
            github-homelab-esphome-firmware/data/scaleway region | SCW_DEFAULT_REGION ;
            github-homelab-esphome-firmware/data/scaleway zone | SCW_DEFAULT_ZONE ;
            github-homelab-esphome-firmware/data/scaleway access_key | SCW_ACCESS_KEY ;
            github-homelab-esphome-firmware/data/scaleway secret_key | SCW_SECRET_KEY

      - run: |
          pip install s3cmd --no-cache

      - run: |
          ./scripts/secrets_crypter.sh d

      - uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          tags: builder:latest
          push: false
      - uses: addnab/docker-run-action@4f65fabd2431ebc8d299f8e5a018d79a769ae185 # v3
        with:
          image: builder:latest
          options: -v ${{ github.workspace }}:/workspace
          run: |
            cd /workspace
            ./scripts/build_firmware.sh

      - run: |
          ./scripts/upload_firmware.sh infrastructure-assets-5274ba70-fde0-47de-8e9a-f1bc64c11157/esphome/firmware
